@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tektur:wght@400..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  background:linear-gradient(lightblue,white);
  font-weight: 200;
  display: flex;
  margin-left: 500px;
  height: 100vh;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.form-container {
  text-align: center;
  background:white;
  padding: 25px;
  border-radius: 10px;
  width: 380px;
}

h2 {
  margin-bottom: 20px;
  color: black;
  font-weight: 600;
}

div {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  background:blue;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background: blue;
}
